body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

canvas {
    aspect-ratio: 1 / 1;
    width: 100vmin;
    height: 100vmin;
    image-rendering: pixelated;
}

p {
    position: absolute;
    top: 0;
    right: 0;
}
