* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(192, 192, 192);
}


canvas {
    aspect-ratio: 1 / 1;
    width: 100vmin;
    height: 100vmin;
    /* image-rendering: pixelated; */
}

p {
    position: absolute;
    top: 0;
    right: 0;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    max-width: 150px;
    height: 20px;
    outline: none;
    background-color: #D4D4D4;
    box-sizing: border-box;
    overflow: hidden;
    cursor: e-resize;
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: #555555;
    box-shadow: -10000px 0 0 9999px #379ACA;
}

::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: #555555;
    box-shadow: -10000px 0 0 9999px #379ACA;
}

.slider:hover {
    -webkit-filter: brightness(1.05);
    filter: brightness(1.05)
}

.slider:active {
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1)
}

.color {
    appearance: none;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.color::-webkit-color-swatch {
    border: none;
    border-radius: 3px;
}
